<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/navbar.ejs') %>
            <div class="content">
                <h1 class="header-title">Liste des mandats</h1>
                <div class="flex-between">
                    <div class="searchbox">
                        <input class="searchbox-input" type="text" placeholder="Recherche" onkeyup="searchMandat()"
                            id="search"></input>
                        <div onclick="searchMandat()" class="searchbox-action"><img width="20px" height="20px"
                                src="/img/search.png" alt="search"></div>
                    </div>
                    <a href="/add-mandat" class="cta">Nouveau mandat</a>
                </div>

                <div class="filter">
                    <div class="filter-item filter-selected" onclick="changeFilter(0)">Tous</div>
                    <div class="filter-item" onclick="changeFilter(1)">Artisanat</div>
                    <div class="filter-item" onclick="changeFilter(2)">EFJ</div>
                    <div class="filter-item" onclick="changeFilter(3)">ENI</div>
                    <div class="filter-item" onclick="changeFilter(4)">Ouverture-Regionale</div>
                    <div class="filter-item" onclick="changeFilter(5)">PE-AT</div>
                    <div class="filter-item" onclick="changeFilter(6)">Social</div>
                </div>

                <div class="flex">
                    <div class="search-result"><span id="js-result"><%= mandats.length %></span> résultats trouvés</div>
                    <% mandats.forEach(mandat=> { %>
                        <div class="mandat card">
                            <div class="card-header"></div>
                            <div class="card-figure">
                                <% if (mandat.logo ) { %>
                                    <img class="card-image" src="<%= mandat.logo %>">
                                    <% }else{ %>
                                        <img class="add-photo" width="24px" height="24px" src="img/no-photo.png">
                                        <% } %>
                            </div>
                            <div class="card-title js-label">
                                <%= mandat.label %>
                            </div>
                            <div class="card-subtitle js-categorie">
                                <%= mandat.categorie %>
                            </div>
                            <a href="/profil-mandat?id=<%= mandat._id %>" class="no-decoration card-edit">
                                <img src="img/edit.png" width="12px" height="12px" alt="edit">
                            </a>
                            <div data-message="Mandat supprimé, cliquez sur le bouton pour raffraichir la page" data-redirection="/mandats" data-ressource="mandats/<%= mandat._id %>/representations" onclick="deleteRessource(this)" class="card-delete">
                                <img src="img/delete.png" width="12px" height="12px" alt="delete">
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <%- include('../includes/succes.ejs') %>
    </body>
    <script>
        function changeFilter(id) {
            document.getElementsByClassName('filter-selected')[0].classList.remove('filter-selected');
            document.getElementsByClassName('filter-item')[id].classList.add('filter-selected');
            searchMandat();
        }

        function searchMandat() {
            let result_count = 0;
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('mandat');
            let length = item.length;
            let filter = document.getElementsByClassName('filter-selected')[0].innerHTML.toLowerCase();
            for (let i = 0; i < length; i++) {
                let label = item[i].getElementsByClassName('js-label')[0].innerHTML.toLowerCase();
                let categorie = item[i].getElementsByClassName('js-categorie')[0].innerHTML.toLowerCase();
                if (filter === "tous" || filter === categorie.replace(/\s/g, '')) {
                    if (label.includes(query)) {
                        item[i].style.display = 'table-row';
                        result_count ++;
                    }
                    else {
                        item[i].style.display = 'none';
                    }
                } else {
                    item[i].style.display = 'none';
                }

            }
            document.getElementById('js-result').innerHTML = result_count
        }
    </script>
    <script src="js/api.js"></script>
    <script src="/js/index.js"></script>

    </html>