<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/navbar.ejs') %>
            <div class="content">
                <h1 class="title">Modifier un contact</h1>
                <div class="form-container">
                    <form data-redirection="profil-adherent?id=<%=adherent._id%>"
                        data-message="Contact ajouté, cliquez sur le bouton pour revenir au profil de l'adhérent"
                        data-ressource="contacts" enctype="application/x-www-form-urlencoded" id="add-form" class="form-flex"
                        method="POST" onsubmit="editContact(event)">
                        <input type="hidden" value="<%=adherent._id%>" name="id_adherent">
                        <div class="form-group">
                            <label for="titre" class="form-label">Titre du contact</label>
                            <input value="<%=contact.titre%>" required type="text" name="titre" id="titre" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="nom" class="form-label">Nom du contact</label>
                            <input value="<%=contact.nom%>" required type="text" name="nom" id="nom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="form-label">Prénom du contact</label>
                            <input value="<%=contact.prenom%>" required type="text" name="prenom" id="prenom" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Adresse E-mail</label>
                            <input value="<%=contact.email%>" required type="text" name="email" id="email" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="form-label">Numéro de téléphone</label>
                            <input value="<%=contact.telephone%>" required type="text" name="telephone" id="telephone" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-group">
                            <label for="linkedin" class="form-label">Linkedin</label>
                            <input value="<%=contact.linkedin%>" name="linkedin" type="text" id="linkedin" class="form-input" placeholder="Réponse">
                        </div>
                        <div class="form-action">
                            <input type="submit" class="cta" value="Confirmer la création">
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../includes/succes.ejs') %>


    </body>
    <script>
                        function editContact(event) {
                    event.preventDefault();
                    let data = {
                        titre: document.getElementById('titre').value,
                        nom: document.getElementById('nom').value,
                        prenom: document.getElementById('prenom').value,
                        telephone: document.getElementById('telephone').value,
                        email: document.getElementById('email').value,
                        linkedin: document.getElementById('linkedin').value,
                        id_adherent: '<%=adherent._id%>'
                    }
                    console.log(data);
                    try {
                        fetch(`https://cpme-rest-api.herokuapp.com/api/contacts/<%=contact._id%>`, {
                            method: "PATCH",
                            headers: {
                                'Content-type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })

                        let message = 'Contact modifié, cliquez pour revenir au profil adhérent';
                        let redirecton = `profil-adherent?id=<%=adherent._id%>`;
                        showModalSucces(message, redirecton)
                    } catch (error) {
                        console.log(error.message);
                        alert('Une erreur est survenue')
                    }
                }
    </script>
    <script src="js/api.js"></script>
    <script src="js/index.js"></script>

    </html>