<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/navbar.ejs') %>
            <div class="content">
<h1 class="header-title">Liste des sondages</h1>
            <div class="flex-between">
                <div class="searchbox">
                    <input class="searchbox-input" type="text" placeholder="Recherche" onkeyup="searchSondage()"
                        id="search"></input>
                    <div onclick="searchSondage()" class="searchbox-action"><img width="20px" height="20px"
                            src="/img/search.png" alt="search"></div>
                </div>
                <a href="/add-sondage" class="cta">Nouveau sondage</a>
            </div>
            <div class="flex">
                <div class="search-result"><span id="js-result"><%= sondages.length %></span> résultats trouvés</div>
                <% sondages.forEach(sondage=> { %>
                    <div class="sondage card">
                        <div class="card-header"></div>
                        <div class="card-figure">
                                <img class="card-image" src="https://lavit-gaetan.com/wp-content/uploads/2021/11/cropped-logo_cpme.jpg">
                        </div>
                        <div class="card-title js-nom">
                            <%= sondage.nom %>
                        </div>
                        <div class="card-subtitle">
                            Nombre de réponses
                        </div>
                        <a href="/profil-sondage?id=<%= sondage._id %>" class="no-decoration card-edit">
                            <img src="img/edit.png" width="12px" height="12px" alt="edit">
                        </a>
                        <div class="card-delete" data-message="Sondage supprimé, cliquez sur le bouton pour revenir aux sondages" data-redirection="/sondages" data-ressource="sondages/<%= sondage._id %>" onclick="deleteRessource(this)">
                            <img src="img/delete.png" width="12px" height="12px" alt="delete">
                        </div>
                    </div>
                    <% }) %>
            </div>
            </div>
            
        <%- include('../includes/succes.ejs') %>
    </body>
    <script>

        function closeModal() {
            let modal = document.getElementById('modal');
            modal.style.display = "none";
        }

        function deleteSondage(id) {
            if (confirm('Voulez-vous vraiment supprimer cette adhérent ?')) {
                console.log(id);
                fetch(`https://cpme-rest-api.herokuapp.com/api/sondages/${id}`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })

                fetch(`https://cpme-rest-api.herokuapp.com/api/sondages/${id}/questions`, {
                    method: "DELETE",
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
            }
            setTimeout(() => {
                alert('Adhérent supprimé')
                document.location.reload()
            }, 100);
        }

        function searchSondage() {
            let query = document.getElementById('search').value.toLowerCase();
            let item = document.getElementsByClassName('sondage');
            result_count = 0;
            let length = item.length;
            for (let i = 0; i < length; i++) {
                let nom = item[i].getElementsByClassName('js-nom')[0].innerHTML.toLowerCase();
                    if (nom.includes(query)) {
                        item[i].style.display = 'table-row';
                        console.log('item matched');
                        result_count ++;
                    }
                    else {
                        item[i].style.display = 'none';
                        console.log('item hidden by query');
                    }
            }
            document.getElementById('js-result').innerHTML = result_count
        }
    </script>
    <script src="js/index.js"></script>
    <script src="js/api.js"></script>

    </html>