<%- include('../includes/header.ejs') %>
    <%- include('../includes/message.ejs') %>

        <body>
                <div class="content">
            <a href="/sondages" class="cta">Retour</a>

                    <h1 class="title">Resultats du sondage</h1>
                    <% questions.forEach(question=> { %>
                        <div class="result-container" onclick="showResponses('<%=question._id%>')">
                            <span>
                                <%=question.label%>
                            </span>
                            <div id="<%=question._id%>" class="hidden">
                                <%reponses.filter(el=> el.question_id === question._id).forEach(reponse => { %>
                                    <span>
                                        <%=reponse.value%>
                                    </span>
                                    <% }) %>
                            </div>
                        </div>
                        <% }) %>
                </div>
                <script src="../js/index.js"></script>